.editor {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: "PT Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  /* min-height: 340px; */
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  resize: none !important;
  tab-size: 4;
  background-image: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.89) 11.3%,
    rgba(0, 0, 0, 0.651) 100.2%
  );
  color: aqua;
  height: 225px;
  width: 225px;
}

.Button {
  background-color: white;
  color: black;
}
